# Flutter/Dart
.dart_tool/
build/

# macOS
.DS_Store

# Android
android/build/
android/app/build/

# iOS
ios/build/

# Xcode user data
**/*.mode1v3
**/*.mode2v3
**/*.pbxuser
**/*.perspectivev3
**/xcuserdata/
**/dgph
